
  <div class="ui vertical stripe segment">
    <div class="ui six column centered grid">
      <div class="six wide column">
        <div class="ui teal inverted segment">
           <h1>Login</h1>
      			  <%= form_tag '/login', :method => :post, :class => "ui form" do  %>
      			  Username: 
               <%= text_field_tag :username %>
      			  Password:
               <%= password_field_tag :password %>
               <BR><BR>
      			  <%= submit_tag "Log In", class: "ui button" %>
      		    <% end %>
            
              <% if @error %>
              <p><%= p @error %></p>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


