<p>Search term: <em><%= @search_query %></em></p>

<p>Search results:</p>

<% if @charities.empty? && @categories.empty? %>
  Sorry, the search terms entered yielded no results. Please try another search.
<% end %>

<% unless @charities.empty? %>
<p>Charities:</p>
  <% @charities.each do |charity| %>
   <p><a href="/charities/<%= charity.to_param %>"><%= charity.name %></a></p>
  <% end %>
<% end %>

<% unless @categories.empty? %>
  <p>Categories</p>
  <% @categories.each do |category| %>
    <p><a href="/categories/<%= category.to_param %>"><%= category.name %></a></p>
  <% end %>
<% end %>






