
  <div class="ui vertical stripe segment">
    <div class="ui six column centered grid">
      <div class="six wide column">
        <div class="ui teal inverted segment">
           
           <h1>Sign Up</h1>

				<%= form_for :user, url: '/users', :html => {:class => "ui form"} do |f| %>
				
				Username: <%= f.text_field :username, class: 'field' %>
				<BR>
				
				  Email: <%= f.text_field :email, class: 'field' %>
				
				  Password: <%= f.password_field :password, class: 'field' %>
				<BR><BR>
				  <%= f.submit "Submit", class: 'ui button' %>
				 
				<% end %>
			
        </div>
      </div>
    </div>
  </div>


