
  <div class="ui vertical stripe segment">
    <div class="ui six column centered grid">
      <div class="six wide column">
        <div class="ui teal inverted segment">
           <form class="ui form">
           <h1>Sign Up</h1>

				<%= form_for :user, url: '/users' do |f| %>
				<div class="field">
				  Username: <%= f.text_field :username %></div>
				<BR>
				<div class="field">
				  Email: <%= f.text_field :email %></div>
				<BR><div class="field">
				  Password: <%= f.password_field :password %></div>
				<BR>
				<div class="ui error message">
              <div class="header">Invalid Registration</div>
                <p>Try again.</p>
              </div>
				<button class="ui button">
				  <%= f.submit "Submit" %></button>

				<% end %>
				<% if @error %>
				  <p><%= @error %></p>
				<% end %>
        </div>
      </div>
    </div>
  </div>

</div>
