   <div class="ui vertical stripe segment">
        <div class="ui eight column centered grid">
            <div class="eight wide column">
                <div class="ui teal inverted segment">
                <% if @error %>
                      <p><%= @error %></p>
                    <% end %>
                    <h1>List your
                    charity:</h1>
                    <%= form_for @charity, :html => {:class => "ui form"} do |f| %>
                    <%= f.label :charity_name %>:
                    <%= f.text_field :name, class: 'field' %><br>
                    <%= f.label :charity_description %>:
                    <%= f.text_area :description, :rows => 4, :cols => 50, :placeholder => "Your mission statement, needs, etc..." %><br>
                    <%= f.label :choose_your_charity_categories %>:
                    <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %><br>

                    <%= f.label :contact_name %>:
                    <%= f.text_field :contact_name, class: 'field' %><br>
                    <%= f.label :contact_email %>:
                    <%= f.text_field :contact_email, class: 'field' %><br>
                    <%= f.label :contact_phone %>:
                    <%= f.text_field :contact_phone, class: 'field' %><br>
                    <%= f.label :twitter_handle %>:
                    <%= f.text_field :twitter_handle %><br>
                    <%= f.label :website %>:
                    <%= f.text_field :website %><br>
                    <%= f.label :donation_page %>:
                    <%= f.text_field :donation_page %><br>
                    <%= f.label :street_address %>:
                    <%= f.text_field :street_address %><br>
                    <%= f.label :city %>:
                    <%= f.text_field :city %><br>
                    <%= f.label :state %>:
                    <%= f.text_field :state, :placeholder => "two letter abbreviation" %><br>
                    <%= f.label :zip_code %>:
                    <%= f.text_field :zip_code %><br>
                    <%= f.label :password %>:
                    <%= f.password_field :password %><br><BR>
                    <%= f.submit "Sign Up", class: 'ui button' %>
                    <% end %>

                    
                </div>
            </div>
        </div>
    </div>

    

