<br>
<br>
<br>
<br>
<br>



<h1>List your charity:</h1>

<%= form_for @charity do |f| %>
  <%= f.label :charity_name %>:
  <%= f.text_field :name %><br />

	<%= f.text_area :description, :rows => 4, :cols => 50, :placeholder => "Description of charity...." %><br>

  <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %><br>

  <%= f.label :contact_name %>:
  <%= f.text_field :contact_name %><br />

  <%= f.label :contact_email %>:
  <%= f.text_field :contact_email %><br />

  <%= f.label :contact_phone %>:
  <%= f.text_field :contact_phone %><br />

  <%= f.label :street_address %>:
  <%= f.text_field :street_address %><br />

  <%= f.label :city %>:
  <%= f.text_field :city %><br />

  <%= f.label :state %>:
  <%= f.text_field :state, :placeholder => "two letter abbreviation" %><br />

  <%= f.label :zip_code %>:
  <%= f.text_field :zip_code %><br />

  <%= f.label :password %>:
  <%= f.password_field :password_hash %><br />

  <%= f.submit %>
<% end %>




<% if @error %>
  <p><%= @error %></p>
<% end %>





