<% content_for :javascripts do %>  
  <script type="text/javascript">
    initialize();
  </script>
<% end %>
<%= stylesheet_link_tag "map.css" %>


  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="center aligned column">

        <% if @errors %>
       	 <p><%= @errors  %></p>
        <% end %>

           <h1><%= @charity.name %></h1>
			<p> <%= @charity.description %></p>
			<p><%= @charity.street_address %>, <%= @charity.city %>, <%= @charity.state %>, <%= @charity.zip_code %> </p>


		  <div id="map-canvas"></div>
			
      
			<% if session[:user_id] %>
				<% if current_user.charities.include?(@charity) %>
	  			<p><%= link_to "Un-Star This Charity", star_path(@charity) %></p>
				<% else %>
	  			<p><%= link_to "Star This Charity", star_path(@charity) %></p>
				<% end %>
			<% end %>

				<% if @wishlist && @wishlist.items.count > 0 %>
					<% @wishlist.items.each do |item|  %>
						<p><img src="<%= item.picture_url %>"><a href="<%= @wishlist.original_link %>"><%= item.name %></a>, Price: <%= item.current_price %>, Priority: <%= item.priority %>, Requested Quantity: <%= item.qty_requested %>, Quanity Received: <%= item.qty_received %></p><br>
					<% end %>
				<% end %>
        </div>
      </div>
    </div>
  </div>
</div>


