<h1><%= @charity.name %></h1>
<p> <%= @charity.description %></p>
<p><%= @charity.name%>'s Wishlist:</p>

<% if current_user.charities.include?(@charity) %>
  <p><%= link_to "Un-Star This Charity", star_path(@charity) %></p>
<% else %>
  <p><%= link_to "Star This Charity", star_path(@charity) %></p>
<% end %>

<ul>

	<% @wishlist.items.each do |item|  %>
<p><img src="<%= item.picture_url %>"><a href="<%= @wishlist.original_link %>"><%= item.name %></a>Price: <%= item.current_price %>    Priority: <%= item.priority %>    Requested Quantity: <%= item.qty_requested %>    Quanity Received: <%= item.qty_received %></p><br>

<% end %>




 
<ul>
