<%= stylesheet_link_tag "map.css" %>

<script src='https://maps.googleapis.com/maps/api/js' + '&callback=loadMap'></script>

<script>
	function codeAddress(address) {
	          var geocoder = new google.maps.Geocoder();
	          geocoder.geocode({'address': address}, function(results, status) {
	              if (status == google.maps.GeocoderStatus.OK) {
	                  var myOptions = {
	                      zoom: 14,
	                      center: results[0].geometry.location,
	                      mapTypeId: google.maps.MapTypeId.ROADMAP
	                  }
	                  var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

	                  var charityName = document.getElementById("charity-name").innerText;

	                  var marker = new google.maps.Marker({
	                      map: map,
	                      position: results[0].geometry.location,
	                      title: charityName
	                  });
	              }
	          });
	}


	function loadMap() {
	  var address = document.getElementById("mailing-address").innerText;
	  codeAddress(address);
	}


	window.onload=loadMap;
</script>

<body>

<h1 id="charity-name"><%= @charity.name %></h1>
<p> <%= @charity.description %></p>
<p><%= @charity.name%>'s Wishlist:</p>

<% if current_user.charities.include?(@charity) %>
  <p><%= link_to "Un-Star This Charity", star_path(@charity) %></p>
<% else %>
  <p><%= link_to "Star This Charity", star_path(@charity) %></p>
<% end %>

<ul>
	<% @wishlist.items.each do |item|  %>
    <p><img src="<%= item.picture_url %>"><a href="<%= @wishlist.original_link %>"><%= item.name %></a>Price: <%= item.current_price %>    Priority: <%= item.priority %>    Requested Quantity: <%= item.qty_requested %>    Quanity Received: <%= item.qty_received %></p><br>
  <% end %>
</ul>

<div id="map-canvas"></div>
<address id="mailing-address">5200 N Sheridan Rd., Chicago, IL, 60654</address>

</body>
