<% content_for :javascripts do %>
  <script type="text/javascript">
    loadMap();
  </script>
<% end %>
<%= stylesheet_link_tag "map.css" %>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="ui grid">
      
        <div class="eight wide left aligned column">
        <div class="left floated">

        <% if @errors %>
       	 <p><%= @errors  %></p>
        <% end %>
	
           <h1><%= @charity.name %></h1>
				<div class="charity-info"
           <p><%= @charity.street_address %>, <%= @charity.city %>, <%= @charity.state %>, <%= @charity.zip_code %> </p>
           </div>
           
		  <div id="map-canvas"></div>

	
      </div>
    </div>



	
   
      
        <div class="eight wide left aligned column">
        <div class="right floated">
			<br>
			<br>
	
			<h3>Charity Overview:</h3>
			<div class="charity-info"
			<p> <%= @charity.description %></p>
			


			
      
			<% if session[:user_id] %>
				<% if current_user.charities.include?(@charity) %>
	  			<p><%= link_to "Un-Star This Charity", star_path(@charity) %></p>
				<% else %>
	  			<p><%= link_to "Star This Charity", star_path(@charity) %></p>
				<% end %>
			<% end %>
</div>
		</div>
      </div>
      </div>
    
   

   <div class="ui grid">
      
        <div class="sixteen wide left aligned column">
        <div class="left floated">
	<% if false %>
				<% if @wishlist && @wishlist.items.count > 0 %>
					<% @wishlist.items.each do |item|  %>
						<p><img src="<%= item.picture_url %>"><a href="<%= @wishlist.original_link %>"><%= item.name %></a>, Price: <%= item.current_price %>, Priority: <%= item.priority %>, Requested Quantity: <%= item.qty_requested %>, Quanity Received: <%= item.qty_received %></p><br>
					<% end %>
				<% end %>

				<% end %>
</div>
		</div>
      </div>

        